<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Store</display-name>
 <!-- 编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>cn.store.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowProductByPageServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.ShowProductByPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindProductByIdServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.FindProductByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MenuSearchServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.MenuSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.MyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowIndexServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.ShowIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeCartServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.ChangeCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeOrderStateServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.ChangeOrderStateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelOrderByIdServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.DelOrderByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindOrderByIdServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.FindOrderByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindOrderByUserServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.FindOrderByUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>cn.store.servlet.client.PayServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListProductServlet</servlet-name>
    <servlet-class>cn.store.servlet.admin.ListProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindProductByManyConditionServlet</servlet-name>
    <servlet-class>cn.store.servlet.admin.FindProductByManyConditionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>cn.store.servlet.admin.AddProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>cn.store.servlet.admin.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>cn.store.servlet.admin.EditProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindOrderByManyConditionServlet</servlet-name>
    <servlet-class>cn.store.servlet.admin.FindOrderByManyConditionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindOrdersServlet</servlet-name>
    <servlet-class>cn.store.servlet.admin.FindOrdersServlet</servlet-class>
  </servlet>






















 


  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowProductByPageServlet</servlet-name>
    <url-pattern>/showProductByPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindProductByIdServlet</servlet-name>
    <url-pattern>/FindProductByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuSearchServlet</servlet-name>
    <url-pattern>/MenuSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowIndexServlet</servlet-name>
    <url-pattern>/ShowIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCartServlet</servlet-name>
    <url-pattern>/changeCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeOrderStateServlet</servlet-name>
    <url-pattern>/ChangeOrderStateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelOrderByIdServlet</servlet-name>
    <url-pattern>/DelOrderByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindOrderByIdServlet</servlet-name>
    <url-pattern>/FindOrderByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindOrderByUserServlet</servlet-name>
    <url-pattern>/FindOrderByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListProductServlet</servlet-name>
    <url-pattern>/ListProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindProductByManyConditionServlet</servlet-name>
    <url-pattern>/FindProductByManyConditionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindOrderByManyConditionServlet</servlet-name>
    <url-pattern>/FindOrderByManyConditionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindOrdersServlet</servlet-name>
    <url-pattern>/FindOrdersServlet</url-pattern>
  </servlet-mapping>
  
</web-app>